.flexContainer div{
    box-shadow: none!important;
}
.polaroid {
    position: relative;
    width: 90%;
}
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}
.btnContainer{
    display:flex;
    justify-content:flex-start;
    z-index:2;
}
.bgDesign{
    width:100%;
    opacity:0.8;
    background-color: #f7f6f2;
    /* background-image: url(images/aboutMe/bgDesignPink.png); */
}
.aboutMeQuotesection{

    /* background-color: #f7f1ed; */
    background-image: url("../images/aboutMe/bgDesignLightGray.png");
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    padding:7em 10em;
}
.designQuote{
    font-size: 3.6em;
}.author{
    margin:1em;
font-size: 1.5em;
}
@media only screen and (max-width:600px){
    .designQuote{
        font-size:2.5em;
    }
    .dQuotesection{
        padding:2em 2em;
    }
}