/* .subTitle:hover~ hr{
    font-size:5em;
} */

.mainHeading{
    display:flex;
    flex-direction:column;
    gap:6%;
    justify-content:center;
    align-items:center;
}
.subText{
    font-size: 0.9em;
    width:100%;
}
.brandStmt{
    font-size: 3.2vw;
    color: #394158;

}
.frame{
    position:relative;
    width:38rem;
    height: 20rem;
    background:inherit;
    overflow:hidden;
}
.track{
    position:absolute;
    z-index:1;
    top:8rem;
    left:18rem;
    width:30rem;
    height:30rem;
    border-radius:50%;
    border:6px dashed #666666;
}
.right{
    right:18rem;
}
.circle{
    position:absolute;
    z-index:1;
    top:8rem;
    left:18rem;
    width:30rem;
    height:30rem;
    border-radius:50%;
    /* background: #7b9fec; */
    transform:
    translate(-50%,
    -50%);
}


.point{
    position:absolute;
    top:0;
    left:50%;
    width: 50px;;
    height:50px;
    background-color:#eea6a4;
    border-radius:50%;
    padding:30px;
    transform:translate(-95%,-95%);
}
@keyframes rotate{
    0%{
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(-340deg);
    }
}
@keyframes rotateClockwise{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.circle{

    animation:rotate 10s infinite linear;
}
.circle.clockwise{

    animation:rotateClockwise 10s infinite linear;
}

.stack {
	position: relative;
	/* margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%,-50%); */

    width: 100%;
	height: 100%;
}
.card {

	/* background-color: #f5f6f0; */
	/* background: linear-gradient(to bottom, rgba(235,236,240,1) 0%,rgba(255,255,255,1) 60%); */
	border-radius: 1px;;
    padding:6% 2% 2% 2%;
    /* width: 33vw; */
	/* height: 45vh; */
    /* height:calc(40vmin + 5rem); */
	position: absolute;
    display:flex;
    justify-items: center;
    align-items:center;
	transform: translateX(0);
	animation: onTop 12s 2s ease infinite;
	box-shadow: 2px 5px 27px rgb(0 0 0 / 32%);
}
.card.one {
    background-color: #F0BC20;
	left: 0;
	top: 0;
	z-index: 2;
	animation-name: onTop;
    /* transform:rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */
    /* transform:rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */

    
}
.card.two {
    background-color: #F1A144;
	left: 20px;
	top: 20px;
    transform: translateX(0) ;
    /* rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */
    
	z-index: 1;
	animation-name: onMiddle;
}
.card.three {
    background-color: #7AE5E5;
	left: 40px;
	top: 40px;
    transform: translateX(0) ;
    /* rotateX(5deg) rotateY(-0.892892deg) rotateZ(-8.92892deg) ; */
	z-index: 0;
	animation-name: onEndin;
}
.card.four {
    background-color: #3db2f0;
	left: 40px;
	top: 40px;
    transform: translateX(0) ;
    /* rotateX(5deg) rotateY(-0.892892deg) rotateZ(-8.92892deg) ; */
	z-index: 0;
	animation-name: onBottom;
}
.card span {
	font-size: 24px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@keyframes onTop {
5% {
    transform: translateX(300px);
    z-index: 1;
    left: 20px;
    top: 20px;
}
10% {
    transform: translateX(0);
    /* transform: translateX(0) rotateX(5deg) rotateY(-0.892892deg) rotateZ(-8.92892deg) ; */
    z-index: 0;
    left: 40px;
    top: 40px;
}
40% {
    transform: translateX(0);
    z-index: 0;
    left: 40px;
    top: 40px;
  }
  50% {
    transform: translateX(0);
    z-index: 1;
    left: 20px;
    top: 20px;
  }
  70% {
    transform: translateX(0);
    z-index: 1;
    left: 20px;
    top: 20px;
}
  80% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
}
}
@keyframes onMiddle {
  10% {
    /* transform: translateX(0) rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg);; */
    transform: translateX(0) ;
    z-index: 2;
    left: 0;
    top: 0;
  }
  40% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  45% {
    transform: translateX(300px);
    z-index: 1;
    left: 20px;
    top: 20px;
  }
  50% {
    transform: translateX(0) ;
    /* transform: translateX(0) rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */
    z-index: 0;
    left: 40px;
    top: 40px;
  }
  70% {
    transform: translateX(0);
    z-index: 0;
    left: 40px;
    top: 40px;
  }
  80% {
    /* transform: translateX(0) rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */
    transform: translateX(0) ;
    z-index: 1;
    left: 20px;
    top: 20px;
  }
}
@keyframes onEnding {
  10% {
    transform: translate(0);
    z-index: 0;
    left: 20px;
    top: 20px;
  }
  40% {
    transform: translateX(0) ;
    /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
    z-index: 1;
    left: 20px;
    top: 20px;
  }
  50% {
    transform: translateX(0);
    z-index: 2;
    left: 0;
    top: 0;
  }
  60% {
    transform: translateX(0) ;
    /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
    z-index: 2;
    left: 0;
    top: 0;
  }
  65% {
    transform: translateX(300px);
    z-index: 1;
    left: 20px;
    top: 20px;
  }
  70% {
    /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
    transform: translateX(0) ;
    z-index: 0;
    left: 40px;
    top: 40px;
  }
  80% {
    /* transform: translateX(0) rotateX(5deg) rotateY(0.24895deg) rotateZ(2.4895deg); */
    transform: translateX(0) ;
    z-index: 1;
    left: 20px;
    top: 20px;
  }
}
@keyframes onBottom {
    10% {
    transform: translate(0);
    z-index: 0;
    left: 20px;
    top: 20px;
    }
    40% {
    transform: translateX(0) ;
      /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
    z-index: 1;
    left: 20px;
    top: 20px;
    }
    50% {
    transform: translateX(0);
      z-index: 2;
      left: 0;
      top: 0;
    }
    70% {
      transform: translateX(0) ;
      /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
      z-index: 2;
      left: 0;
      top: 0;
    }
    75% {
      transform: translateX(300px);
      z-index: 1;
      left: 20px;
      top: 20px;
    }
    80% {
      /* transform: translateX(0) rotateX(5deg) rotateY(-0.877756deg) rotateZ(-8.77756deg) scale(1); */
      transform: translateX(0) ;
      z-index: 0;
      left: 40px;
      top: 40px;
    }
  }

.connectIcons{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-size:1.3em;

}
.wordCarousel{
    display:flex;
}
.wordCarousel div{
overflow:hidden;
float:right;
height:65px;
padding-top:10px;
margin-top:-10px;
}
.wordCarousel div li{
height:45px;
margin-bottom:45px;
display:block;
border:none;
 }
 */
.flip3{
    animation: flip3 8s cubic-bezier(0.23,1,0.32,1.2) infinite;
}
@keyframes flip3{
    0%  {margin-top: -360px;}
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
.styleModuleCards{
    z-index:101;
    pointer-events: none;
}
.cardStackModuleCard{
    width: calc(50vmin - 3rem);
    height: calc(50vmin - 3rem);
    overflow: hidden;
    /* background-color: var(--color-background); */
    /* background-color: #a4c9d8; */
    box-shadow: 2px 5px 27px rgb(0 0 0 / 32%);
    cursor: grab;
    will-change: transform;
    user-select: none;
    touch-action: none;
}
.cardStackModuleWrapper{
    height:80VH;
    display:grid;
    justify-content: center;
    position: relative;
    width: 100%;
}
.cardStackModuleInner{
    position: absolute;
    right: 0;
    left: 0;
    will-change: transform;
    display: grid;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}
.cardStackModuleImage{
    width:100%;
    height:100%;
}

.magicQuotesection,.magicDarkQuotesection,
.dQuotesection{

    background-color: #f7f1ed;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    padding:7em 10em;
}
.collaborateSection{

    background-color: #fceccb;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    padding:10em 10em;
}
.magicDarkQuotesection{

    background-color: #000000;
    opacity:0.3;
}
.covidReliefSection{
    background-color: #ffefef;
    text-align: center;
    padding:5em 0;
}
.dQuotesection{

    background-image: url("../images/home/grayDotsBg.png");
}
.magicQuotesection{

    background-image: url("../images/home/magicBg.png");
    width:100%;
    /* background-repeat: no-repeat; */
}
.magicQuote{
    /* font-family: sacramento; */
    font-size:3.6em;
    /* color:#ffffff; */
}
.contactQuote{
    font-size:4vw;
    color:#011115;
}
.author{
    margin:1em;
font-size: 1.5em;
}
.subTitleText{
    font-size:0.5em;
}
.flexContainer div{
    box-shadow: none!important;
}
.blinkEyedGuy{
    display:flex;
    justify-content:flex-start;
}
/* .blinkEyedGuy:hover{
    justify-content:center;
    transition: 2s ease-in-out;
} */
.face{
    display:flex;
    justify-content:space-between;
    width:90px;
    height:90px;
    background-color:#fac1c0;
    padding:25px;
    border-radius:50%;
    transition: 0.3s ease-in-out;
    animation: float 10s ease-out infinite;
    /* animation: float 3s ease-out forwards; */
}
@keyframes float {
    50% {
    transform: translate(0, 20px);
    }
}
.face:hover{
    justify-content:flex-end;
    background-color:#eea6a4;
}
.eye{
    
    background-color:white;
    border-radius:50%;
    width:15px;
    height:15px;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 5s infinite;
}
@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
@media only screen and (max-width:1000px){
    .mainPage{
        display:flex;
        flex-direction:column;
    }
    .mainPage .right{
        height:55vh;
    }
    figure{
        margin:0;
    }
    .mainPage .card{
        width:55vh;
        height:50vh;
    }
    .card.three{
        padding-bottom:15%;
    }
    .card.two{
        padding-bottom:10%;
    }
    .mainPage .left .frame{
        display:none;
    }
}
@media only screen and (max-width:600px){
    .mainPage{
        display:flex;
        flex-direction:column;
    }
    .mainPage .right{
        padding-top:20%;
        height:55vh;
    }
    figure{
        margin:0;
    }
    .mainPage .card{
        width:initial;
        height:initial;
    }
    .card.three{
        padding-bottom:15%;
    }
    .card.two{
        padding-bottom:10%;
    }
    .mainPage .left .frame{
        display:none;
    }
    .brandStmt{
        font-size: 11vw;
    }
    .magicQuote{
        font-size:2.5em;
    }
    .magicQuotesection{
        padding:2em 2em;
    }
    .cardStackModuleCard{
        width:calc(22rem + 12vmin);
        height:calc(22rem + 12vmin)
    }
    .styleModuleCards{
        order:1;
        grid-column:span 2;
        grid-row: 1;
    }
    /* .face{
        width:40px;
        height:40px;
    } */
}