/* .subTitle:hover~ hr{
    font-size:5em;
} */
.magicQuotesection,.magicDarkQuotesection,
.dQuotesection{

    background-color: #f7f1ed;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    padding:7em 10em;
}
.magicDarkQuotesection{

    background-color: #000000;
    opacity:0.3;
}
.covidReliefSection{
    background-color: #ffefef;
    text-align: center;
    padding:5em 0;
}
.dQuotesection{

    background-image: url("../images/home/grayDotsBg.png");
}
.magicQuotesection{

    background-image: url("../images/home/magicBg.png");
    width:100%;
    /* background-repeat: no-repeat; */
}
.magicQuote{
    /* font-family: sacramento; */
    font-size:3.6em;
    /* color:#ffffff; */
}
.author{
    margin:1em;
font-size: 1.5em;
}
.subTitleText{
    font-size:0.5em;
}
.flexContainer div{
    box-shadow: none!important;
}
.blinkEyedGuy{
    display:flex;
    justify-content:flex-start;
}
/* .blinkEyedGuy:hover{
    justify-content:center;
    transition: 2s ease-in-out;
} */
.face{
    display:flex;
    justify-content:space-between;
    width:90px;
    height:90px;
    background-color:#fac1c0;
    padding:25px;
    border-radius:50%;
    transition: 0.3s ease-in-out;
    animation: float 10s ease-out infinite;
    /* animation: float 3s ease-out forwards; */
}
@keyframes float {
    50% {
    transform: translate(0, 20px);
    }
}
.face:hover{
    justify-content:flex-end;
    background-color:#eea6a4;
}
.eye{
    
    background-color:white;
    border-radius:50%;
    width:15px;
    height:15px;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 5s infinite;
}
@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
@media only screen and (max-width:600px){
    .magicQuote{
        font-size:2.5em;
    }
    .magicQuotesection{
        padding:2em 2em;
    }
    /* .face{
        width:40px;
        height:40px;
    } */
}