/* .subTitle:hover~ hr{
    font-size:5em;
} */

.subTitleText{
    font-size:0.5em;
}

hr{
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .7s ease-out;
}